body{
  background: url("bckgnd.jpg");
  background-size: cover;
}
.container{
  width:30% !important;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 10% !important;
}
.container h2{
  text-align: center;
}
