@keyframes spring {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.6);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
tr{
  background: #ffffff;
}
.txt{
  margin-top: 6%;
}
.txtbub{
  position: absolute !important;
  top:-15%;
  right:1%;
  width: 30%;
  animation: spring 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.decimg{
  position: fixed;
  width:30%;
  right:0;
  bottom: 0;
}
